
<script src='{{ "js/slider.js" | absURL }}' type="text/javascript"></script>

<div class="footer">
    <div class="payment-methods">
        <img src='{{ "images/payment-methods/mastercard_logo.svg" | absURL }}' />
        <img src='{{ "images/payment-methods/visa_logo.svg" | absURL }}' />
        <img src='{{ "images/payment-methods/maestro_logo.svg" | absURL }}' />
        <img src='{{ "images/payment-methods/amex_logo.svg" | absURL }}' />
        <img src='{{ "images/payment-methods/bitcoin_logo.svg" | absURL }}' class="width-logo" />
        <img src='{{ "images/payment-methods/ethereum_logo.svg" | absURL }}' />
    </div>
    <p class="text-center" style="opacity: 0.6">Copyright © {{ now.Format "2006"}}</p>
    <p class="text-center">Giuliana ❤️</p>
</div>