<footer class="site-footer">
  <div class="inner">
    <div class="payment-methods">
        <img src='{{ "images/payment-methods/mastercard_logo.svg" | absURL }}' />
        <img src='{{ "images/payment-methods/visa_logo.svg" | absURL }}' />
        <img src='{{ "images/payment-methods/maestro_logo.svg" | absURL }}' />
        <img src='{{ "images/payment-methods/amex_logo.svg" | absURL }}' />
        <!--
        <img src='{{ "images/payment-methods/bitcoin_logo.svg" | absURL }}' class="width-logo" />
        <img src='{{ "images/payment-methods/ethereum_logo.svg" | absURL }}' /> -->
    </div>
    <p class="text-center">Giuliana ❤️</p>
    <p class="text-center" style="opacity: 0.7">con la collaborazione di<br/><a href="https://nparisi.com" target="_blank" title="Il blog di Nicola Parisi"><img src='{{ "images/np_icon.png" | absURL }}' style="width: 45px" /></a></p>
    
    <p class="text-center" style="margin: 2.53rem auto">Copyright © {{ now.Format "2006"}}</p>
  </div>
</footer>
